.title {
	height: 75px;
	text-align: center;
	padding-top: 15px;
}
#daca {
	background-color: #FF9B42;
	color: white;
	font-family: 'Oswald', sans-serif;
	height: 25%;
}

.time {
	color: #CCDFCB;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}
.year {
	background-color: #056571
;
	color: white;
	text-align: center;
	width: 100%;
	font-family: 'Oswald', sans-serif;
}

.year:hover{
	background-color: #81B29A;
	color: white;
}
.circle {
  width: 7%;
  background-color: white;
  margin: 3px 3px 3px 3px;
  font-family: 'Oswald', sans-serif;
}

.icons {
	width:1em; 
	height:1em; 
	text-align: center;

}

.slideshow-container {
  max-width: 100% ;
  position: relative;
  margin-top: 5px;
  margin-right: 5px; 
}



/* Caption text */
.text {
  color:  #CCDFCB;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-family: 'Oswald', sans-serif;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #056571;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.1s ease;
  font-family: 'Oswald', sans-serif;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .9} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.outofeleven {
  padding-left: 7%;

}
#have {
	color:  #FF6A5C;
}
#lost {
	color: #FF9B42;
}
#other {
	color: #81B29A;
}
#names {
	text-align: center;
	padding-bottom: 4%;
	padding-top: 2%;


}

